DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_SERVER_METADATA_URL=https://united.sr-studio.cn/.well-known/openid-configuration
OAUTH_SCOPE=openid profile email
OAUTH_TOKEN_ENDPOINT_AUTH_METHOD=client_secret_post
